body {
	font-family: Lato, sans-serif;
}

#symbology {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

#symbology-first-class {
	background-color: #CFF09E;
}

#symbology-economy-class {
	background-color: #EFFAB4;
}

#symbology-occupied {
	background-color: #0B486B;
	color: white;
}

table {
	text-align: center;
}

table td, th {
	width: 150px;
	height: 50px;
}

#first-class .available {
	background-color: #CFF09E;
}

#economy-class .available {
	background-color: #EFFAB4;
}

.occupied {
	background-color: #0B486B;
	color: white;
}

button {
	width: 150px;
	text-align: center;
	background-color: white;
	font-weight: 700;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	font-family: Lato, sans-serif;
	font-size: 20px;
	border-radius: 5px;
	border: 2px solid black;
	box-shadow: 2px 2px grey;
}


